[Unit]
Description=Bluetooth PIN Agent
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/usr/lib/bluetoothradio/agent.sh
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
