[Unit]
Description=Bluetooth Audio Server
After=pulseaudio.service
Requires=pulseaudio.service
Requires=bluetooth-agent.service

[Service]
ExecStart=/root/bluetoothradio/connect.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
